---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>themes - andrew clemens</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  </head>

  <body>
	  <div id="content">
		  {% include index.html %}
	  </div>
      <div id="stem"></div>
	  <div id="section">
    <div id="section2" class="section-page">
    {% include themes.html %}
    </div>
	  </div>
	  <script src="/resources/js/transitions.js"></script>
	  <script>transition_open_section(2);</script>
    <script src="/resources/js/keyboard.js"></script>
    <script src="/resources/js/scroll.js"></script>
  </body>
</html>
