<h1 id="header" class="dropdown"><a href="/"><u>A</u>ndrew Clemens</a></h1>
		  <div id="non-links" class="dropdown" {% if page.section_id %}style="height: 0px;"{% endif %}>
		  <img id="front-image" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Kapitolinischer_Pythagoras_adjusted.jpg">
		  <div id="intro">
			 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros erat, semper a vulputate id, tempus in ante. Praesent sit amet lectus tincidunt, viverra odio eget, tempus enim. Etiam mollis tortor sed tortor ullamcorper, ac iaculis ligula venenatis. Aliquam non diam lorem. In quis magna purus. Integer ultricies ligula quis nulla ornare facilisis. Nam ex tellus, fringilla eget quam vel, tempor varius turpis. Pellentesque at scelerisque sodales. Praesent et dui faucibus. Nunc non varius velit. In volutpat in nibh sed hendrerit. Vivamus consequat, diam eu facilisis egestas, magna neque lobortis est, a eleifend mauris felis mattis elit. Fusce ullamcorper condimentum vehicula. 
		  </div>
		  </div>
		  <ul id="links">
              <li><a href="/projects"><u>p</u>rojects</a></li>
              <li><a href="/websites"><u>w</u>ebsites</a></li>
              <li><a href="/themes"><u>t</u>hemes</a></li>
              <li><a href="/contact"><u>c</u>ontact</a></li>
		  </ul>
