		  <div class="dropdown" id="social">
			  <a href="https://github.com/apclemens"><div>{% include github.html %}</div></a>
			  <a href="https://codepen.io/apclemens/"><div>{% include codepen.html %}</div></a>
		  </div>
<h1 id="header" class="dropdown"><a class="section-link" href="/"><u>A</u>ndrew Clemens</a></h1>
		  <div id="non-links" class="dropdown" {% if page.section_id != -1 %}style="height: 0px;"{% endif %}>
		  <!--<img class="front-image" id="front-image" src="/resources/images/pic.jpg">-->
		  <div id="intro">
			  Hello, my name is ↑ and I make web stuff.  I enjoy making sites and apps for work, for fun, and to
			  help others.  I am based in Baltimore, MD.  Feel free to <a id="inline-contact" href="/contact">contact me</a> if you want to work together.
		  </div>
		  </div>
		  <ul id="links">
              <li {% if page.section_id == 0 %}class="current"{% endif %}><a class="section-link" href="/websites"><u>w</u>ebsites</a></li>
              <li {% if page.section_id == 1 %}class="current"{% endif %}><a class="section-link" href="/web_apps">w<u>e</u>b apps</a></li>
              <li {% if page.section_id == 2 %}class="current"{% endif %}><a class="section-link" href="/projects"><u>p</u>rojects</a></li>
              <li {% if page.section_id == 3 %}class="current"{% endif %}><a class="section-link" href="/contact"><u>c</u>ontact</a></li>
		  </ul>
