		  <div class="dropdown" id="social">
			  <a target="_blank" href="https://github.com/apclemens"><div>{% include github.html %}</div></a>
			  <a target="_blank" href="https://codepen.io/apclemens/"><div>{% include codepen.html %}</div></a>
		  </div>
          <h1 id="header" class="dropdown"><a class="section-link" href="/">
                  <span class="a" style="transform: translateX(0);">
                      <u>A</u>
                  </span>
                  <span class="n1" style="transform: translateX(-6px);">
                      n
                  </span>
                  <span class="d" style="transform: translateX(-12px);">
                      d
                  </span>
                  <span class="r" style="transform: translateX(-18px);">
                      r
                  </span>
                  <span class="e1" style="transform: translateX(-24px);">
                      e
                  </span>
                  <span class="w" style="transform: translateX(-30px);">
                      w
                  </span>
                  <span class="c" style="transform: translateX(-30px);">
                      C
                  </span>
                  <span class="l" style="transform: translateX(-36px);">
                      l
                  </span>
                  <span class="e2" style="transform: translateX(-42px);">
                      e
                  </span>
                  <span class="m" style="transform: translateX(-48px);">
                      m
                  </span>
                  <span class="e3" style="transform: translateX(-54px);">
                      e
                  </span>
                  <span class="n2" style="transform: translateX(-60px);">
                      n
                  </span>
                  <span class="s" style="transform: translateX(-66px);">
                      s
                  </span>
              </a></h1>
		  <div id="non-links" class="dropdown" {% if page.section_id != -1 %}style="height: 0px;"{% endif %}>
		  <div id="intro">

			  
Hello, my name is ↑ and I'm a programmer and web developer.
These are some of the things I've made.

			  
			  
		  </div>
		  </div>
		  <ul id="links">
              <li {% if page.section_id == 0 %}class="current"{% endif %}><a class="section-link" href="/websites"><u>w</u>ebsites</a></li>
              <li {% if page.section_id == 1 %}class="current"{% endif %}><a class="section-link" href="/web_apps">w<u>e</u>b apps</a></li>
              <li {% if page.section_id == 2 %}class="current"{% endif %}><a class="section-link" href="/projects"><u>p</u>rojects</a></li>
              <li {% if page.section_id == 3 %}class="current"{% endif %}><a class="section-link" href="/contact"><u>c</u>ontact</a></li>
		  </ul>
