
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  </head>

  <body>
	  <div id="content" class="shadow" {% if page.section_id != -1 %}style="height: auto;"{% endif %}>
		  {% include index.html %}
	  </div>
	  <div style="height: 40px; margin: 0 20%; padding: 0;">
      <div id="stem" class="shadow" {% if page.section_id != -1 %}style="opacity: 1; left: {{page.section_id * 25 + 12.5}}%; height: 45px;"{% endif %}></div>
	  </div>
	  <div id="section" class="shadow" {% if page.section_id != -1 %}style="opacity: 1; height: 250px;"{% endif %}>
		  {{content}}
	  </div>
	  <script src="/resources/js/transitions.js"></script>
	  <script src="/resources/js/jquery-color.js"></script>
    <script src="/resources/js/keyboard.js"></script>
    <script src="/resources/js/scroll.js"></script>
    <script src="/resources/js/shadow.js"></script>
	  <script>transition_open_section({{page.section_id}});</script>
  </body>
</html>
